extends ./layout

block link
    -var selected = 'Security';
block content
    script(src="../../scripts/add_role.js")
    // Breadcrumb
    .breadcrumb-holder
        .container-fluid
            ul.breadcrumb
                li.breadcrumb-item
                    a(href='/security') Security Home
                li.breadcrumb-item.active Add Role
                - var schemaAll = JSON.stringify(schemas)
                input#schemaAll(type="hidden", name="schema" value="#{schemaAll}")
                input#flatenSchema(type="hidden", name="flatenSchema" value="#{flatenSchema}")
    #roleanduser.pagebox
        // Counts Section
        section.dashboard-counts
            header
                .boxdisplay.largetitle
                    | Add Role
                    a.btn.btn-main.dropdown-toggle.minwidthcombobox.pull-right(href='/security/edit_role') Edit Existing
        section
            .clear
                .boxdisplay
                    .pull-left
                        .boxdisplay-6
                            span.mr-3 Name
                            input#newRoleName(type='text')
                            span.ml-5.mr-3 Super User
                            input#superadmin.js-switch(type='checkbox')
                    button.btn.btn-mainadd.pull-right.width100(type='button', aria-haspopup='true', aria-expanded='false' onclick="addingRole()")
                        i.fa.fa-plus(aria-hidden='true')
            .clear.pt-3
                .boxdisplay
                    .pull-left
                        .boxdisplay-6
                            span.mr-5 Schema
                            span.ml-5.mr-3 Activate All
                            input.js-switch.all-schema#all-schema(type='checkbox', checked='checked')
                .boxdisplay.form-group.clear
                    each schemaVal, schemaProp in schemas
                        ul.trees
                            li
                                label.tree_label
                                    i.fa.fa-caret-down
                                    | #{schemaProp}
                                ul
                                    li
                                    label.tree_label
                                    | Tables
                                    span.ml-5.mr-3 Activate All
                                    input.js-switch.schema(type='checkbox', id="#{schemaProp}", class="#{schemaProp}", checked='checked')
                                    if schemas[schemaProp] != undefined
                                        
                                        each tableVal, tableProp in schemas[schemaProp]
                                                li
                                                    label.tree_label(style="width: 130px")
                                                        i.fa.fa-caret-down
                                                        | #{tableProp}
                                                    span.ml-5.mr-3(style="text-align: right")    Activate All
                                                    input.js-switch.table(type='checkbox', id="#{schemaProp}_#{tableProp}", class="#{schemaProp} #{schemaProp}_#{tableProp}", checked='checked')

                                                    ul
                                                        li
                                                            label.tree_label(title='Read') 
                                                                span.mr-2 R                                                                
                                                                input.js-switch(type='checkbox', id="#{schemaProp}_#{tableProp}_R", class="#{schemaProp} #{schemaProp}_#{tableProp}", checked='checked')
                                                        li                                            
                                                            label.tree_label(title='Insert') 
                                                                span.mr-3 I
                                                                input.js-switch(type='checkbox', id="#{schemaProp}_#{tableProp}_I", class="#{schemaProp} #{schemaProp}_#{tableProp}", checked='checked')
                                                        li                                            
                                                            label.tree_label(title='Update')
                                                                span.mr-2 U
                                                                input.js-switch(type='checkbox', id="#{schemaProp}_#{tableProp}_U", class="#{schemaProp} #{schemaProp}_#{tableProp}", checked='checked')
                                                        li                                            
                                                            label.tree_label(title='Delete')
                                                                span.mr-2 D
                                                                input.js-switch(type='checkbox', id="#{schemaProp}_#{tableProp}_D", class="#{schemaProp} #{schemaProp}_#{tableProp}", checked='checked')
                                                        li
                                                            input(type='checkbox', checked='checked')
                                                            label.tree_label
                                                                i.fa.fa-caret-down
                                                                |  Attribute Restrictions
                                                            span.ml-5.mr-3 Activate All
                                                            input.js-switch.attribute(type='checkbox', id="#{schemaProp}_#{tableProp}_All", class="#{schemaProp} #{schemaProp}_#{tableProp}", checked='checked')

                                                            ul
                                                                 if schemas[schemaProp][tableProp] != undefined
                                                                    if schemas[schemaProp][tableProp]["attributes"] != undefined
                                                                        each attributesValue, attributesProp in schemas[schemaProp][tableProp]['attributes']
                                                                            li
                                                                                span(style="width: 80px;") #{attributesValue['attribute']}
                                                                                span(style="width: 300px; text-align: right")
                                                                                    span.ml-3.mr-1(title='Read') R
                                                                                    input.js-switch(class="#{schemaProp} #{schemaProp}_#{tableProp} #{schemaProp}_#{tableProp}_All", type='checkbox', id="#{schemaProp}_#{tableProp}_#{attributesValue['attribute']}_R", checked='checked')
                                                                                    span.ml-3.mr-1(title='Insert') I
                                                                                    input.js-switch(class="#{schemaProp} #{schemaProp}_#{tableProp} #{schemaProp}_#{tableProp}_All", type='checkbox', id="#{schemaProp}_#{tableProp}_#{attributesValue['attribute']}_I", checked='checked')
                                                                                    span.ml-3.mr-1(title='Update') U
                                                                                    input.js-switch(class="#{schemaProp} #{schemaProp}_#{tableProp} #{schemaProp}_#{tableProp}_All", type='checkbox', id="#{schemaProp}_#{tableProp}_#{attributesValue['attribute']}_U", checked='checked')
                                                                                    span.ml-3.mr-1(title='Delete') D
                                                                                    input.js-switch(class="#{schemaProp} #{schemaProp}_#{tableProp} #{schemaProp}_#{tableProp}_All", type='checkbox', id="#{schemaProp}_#{tableProp}_#{attributesValue['attribute']}_D", checked='checked')        