extends ./layout

block link
  -var selected = 'Explore';
block content
  script(src="../../scripts/explore.js")
  // Counts Section
  .pagebox
    section.dashboard-counts
      header
        .boxdisplay.largetitle Explore
      .container-fluid
        .row
          // Count item widget
          .col-md-12
            .wrapper.count-title.d-flex
              .name
                a.btn.btn-main(href='explore/filter_search', style='float:left; margin-right:20px')
                  strong.text-uppercase.searchButton
                    i.fa.fa-search.searchButtoncicon(aria-hidden='true')
                    |  Filter Search
                a.btn.btn-main(href='explore/sql_search', style='float:left;')
                  strong.text-uppercase.searchButton
                    i.fa.fa-search.searchButtoncicon(aria-hidden='true')
                    |  SQL 
    header
    .container-fluid
      .row
        // Count item widget
        .col-md-6
          .subheader.boxdisplay-6 Recent
          .wrapper.count-title.d-flex
            .list-group.w-100#listRecent

        // Count item widget
        .col-md-6
          .subheader.boxdisplay-6 Favorites
          .wrapper.count-title.d-flex(styles="height: 491px")
            .list-group.w-100
              each value, index in recents
                - var str = value.sql
                - var encode = Buffer.from(""+str+"").toString('base64')
                if index % 2 == 0
                  div
                    .list-group-item.list-group-item-action.list-group-item-dark
                      a(href='/explore/sql_search/#{encode}' style="width: 90%") #{value.livelinkName}
                      button.close(type='button', aria-label='Close' data-toggle="modal" data-target="#deleteLivelinkModal" data-id="#{value.id}")
                        i.fa.fa-times.text-red
                else
                  if value.livelinkName != undefined
                    .list-group-item.list-group-item-action 
                      a(href='/explore/sql_search/#{encode}' style="width: 90%") #{value.livelinkName}
                      button.close(type='button', aria-label='Close' data-toggle="modal" data-target="#deleteLivelinkModal" data-id="#{value.id}")
                        i.fa.fa-times.text-red
                  else
                    a.list-group-item.list-group-item-action.list-group-item-dark(href='#') No favorite

    header
      .boxdisplay.subheader Dashboard
    // Statistics Section
    section.statistics
      .container-fluid
        .row.d-flex
          .col-lg-4(data-toggle='tooltip', data-placement='top', title='Saved Charts' onclick="window.location.href='/explore/sql_search'")
            // Income
            .card.income.text-center.dashboardplusbox
              .icon.iconplus
                i.fa.fa-plus(aria-hidden='true')
        // Modal
    #deleteLivelinkModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    #exampleModalLongTitle.modal-title.text-white Are you sure?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        i.fa.fa-times.text-red
                .modal-body.text-white
                    p
                        | Deleting this user is a permanent action and cannot be undone.
                .modal-footer
                    .col-md-12.p-0
                        button#DeleteLivelinkBtn.btn.btn-maindelete.pull-right(type='button', style='min-width:150px;', data-dismiss='modal', aria-haspopup='true', aria-expanded='false')
                            | Delete
                        button.btn.btn-mainexit.pull-left(type='button', style='min-width:150px;', data-dismiss='modal', aria-haspopup='true', aria-expanded='false')
                            | Exit
