extends ./layout

block link
    -var selected = 'Schema';
block content
    script(src="../../scripts/schema_name.js")
    // Breadcrumb
    input#schemaName(type="hidden", name="thisSchema" value="#{schemaName}")
    .breadcrumb-holder
        .container-fluid
            ul.breadcrumb
                li.breadcrumb-item
                    a(href='/schema') Scema Home
                li.breadcrumb-item.active #{schemaName}
    // Counts Section
    .pagebox
        section.dashboard-counts
            header
                .boxdisplay
                    .pull-right.largetitle
                        i.fa.fa-trash(data-toggle='modal', data-target='#deleteModal', style='margin-right:10px;' data-id="#{schemaName}", data-type="schema")
                    .largetitle.pull-left #{schemaName}
                    .clear.mt-2 Number of records  / Data Size
        section
            .clear.pt-3
                .row.text-left.m-3
                    .col-md-12
                        button.btn-main-big.text-center(href='', data-toggle='modal', data-target='#addtableModal')
                            i.fa.fa-plus(aria-hidden='true')
                            |  Table
                    // Modal Add Table
                    #addtableModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
                        .modal-dialog.modal-dialog-centered(role='document')
                            form(action="/schema/addtable/#{schemaName}", method="post")
                                .modal-content
                                    .modal-header
                                        #exampleModalLongTitle.modal-title.text-white Add Table
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            i.fa.fa-times.text-red
                                    .modal-body.text-white
                                        .row
                                            // Count item widget
                                            .col-md-12
                                                .btn-group.clear.mt-2(style='float:left;')
                                                    span.minwidth150.mr-2 Name
                                                    input.minwidth250.form-controls(type='text', name="tableName")
                                                .btn-group.clear.mt-2(style='float:left;')
                                                    span.minwidth150.mr-2 Hash Attribute
                                                    input.minwidth250.form-controls(type='text', name="hashAttribute")
                                    .modal-footer
                                        .col-md-12.p-0.text-center
                                            button.btn.btn-mainadd(type='submit', style='min-width:150px;', aria-haspopup='true', aria-expanded='false')
                                                | Add
                .boxdisplay.form-group.clear.pl-5
                    ul.tree.pl-5
                        - var tableIndex = 1;
                        each tableVal in schema
                            li
                                input(id="t#{tableIndex}", type='checkbox', checked='checked')
                                label.tree_label(for='t#{tableIndex}')
                                    i.fa.fa-caret-down
                                    |  #{tableVal.name}
                                    .clear.mt-2.smallltext
                                        span.ml-3.numOfRecords(id="#{tableVal.name}")
                                            | Number of records  / Data Size
                                        a.ml-5.btn-main-small.text-center(href="#", data-toggle='modal', data-target='#uploadCSVModal', data-id="#{tableVal.name}")
                                            i.fa.fa-plus(aria-hidden='true')
                                            |  CSV
                                        i.fa.fa-trash.midtitle2(data-toggle='modal', data-target='#deleteModal', style='margin-right:10px;' data-id="#{tableVal.name}" data-type="table")
                                    hr                            
                                ul
                                    if tableVal['attributes'] != undefined
                                        each attribute in tableVal['attributes']
                                            if attribute.attribute == tableVal.hash_attribute
                                                li
                                                    input#int4(type='checkbox', checked='checked')
                                                    label.tree_label
                                                        i.fa.fa-key(aria-hidden='true', style='margin-left:-20px;')
                                                        |  #{attribute.attribute}
                                            else
                                                li
                                                    input#int4(type='checkbox', checked='checked')
                                                    label.tree_label
                                                        | #{attribute.attribute}
                            - tableIndex ++


        // Modal for delete
        #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
            .modal-dialog.modal-dialog-centered(role='document')
                form(action = '/schema/delete', method="post")
                    .modal-content
                        .modal-header
                            #exampleModalLongTitle.modal-title.text-white Are you sure?
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                i.fa.fa-times.text-red
                        .modal-body.text-white
                            p#comfirmMessage                            

                        .modal-footer
                            .col-md-12.p-0
                                input(type="hidden", name="schemaName", value = "#{schemaName}")
                                input#deleteName(type="hidden", name="tableName", value="")
                                input#deleteType(type="hidden", name="deleteType", value="")
                                button.btn.btn-maindelete.pull-right(type='submit', style='min-width:100px;', aria-haspopup='true', aria-expanded='false')
                                    | Delete
                                button.btn.btn-mainexit.pull-left(type='button', style='min-width:100px;', data-dismiss='modal', aria-haspopup='true', aria-expanded='false')
                                    | Exit

        // Modal add csv files                      
        #uploadCSVModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
            .modal-dialog.modal-dialog-centered(role='document')
                form#addCSVForm(action="/schema/upload_csv/#{schemaName}", method="post")
                    .modal-content
                        .modal-header
                            #exampleModalLongTitle.modal-title.text-white CSV
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                i.fa.fa-times.text-red
                        .modal-body.text-white
                            .row
                                // Count item widget
                                .col-md-12                            
                                        .btn-group.clear.mt-2.mb-2(style='float:left;')
                                            span.minwidth150.mr-2 csv type
                                            select#csvType.minwidth250.form-controls(name="csvType")                                           
                                                option(value="file" selected) csv upload
                                                option(value="url") csv url
                                                option(value="data") csv data
                                        #changeCSVType

                        .modal-footer
                            .col-md-12.p-0.text-center
                                input(type="hidden", name="schemaName" value="#{schemaName}")
                                input#tableName(type="hidden", name="tableName" value="")
                                button.btn.btn-mainadd#addCSVBtn(type='submit', style='min-width:150px;', aria-haspopup='true', aria-expanded='false')
                                    | Add

        script.
            $(document).ready(function () {
                let errMsg = '#{message}';
                if(errMsg){
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-full-width",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info(errMsg);
                }
            });