extends ./layout

block link
    -var selected = 'Schema';
block content
    script(src="../../scripts/schema.js")
    // Counts Section
    .pagebox
        // Counts Section
        - var thisSchema = JSON.stringify(schemas)
        input#schemas(type="hidden", name="schemas" value="#{thisSchema}")
        section.dashboard-counts
            header
                .boxdisplay
                    .largetitle.pull-left Schema
                    .wrapper.count-title.d-flex.pull-right
                        i.fa.fa-search(aria-hidden='true')
                        .name.ml-3
                            input#searchSchema(type='text')
        section
            .clear.pt-3
                .row.text-center.m-3
                    .col-md-4
                        button.btn-main-big( data-toggle='modal', data-target='#addtableModal')
                            i.fa.fa-plus(aria-hidden='true')
                            |   
                            span(style="font-size: 1.2rem")     Schema/Tables
                    // Modal Add schema
                    #addtableModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
                        .modal-dialog.modal-dialog-centered(role='document')
                            form(action="/schema", method="post")
                                .modal-content
                                    .modal-header
                                        #exampleModalLongTitle.modal-title.text-white Add Table
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            i.fa.fa-times.text-red                            
                                    .modal-body.text-white
                                        .row

                                            .col-md-12                                            
                                                .btn-group.mb-2(style='float:left')
                                                    span.minwidth150.mr-2 Add
                                                    select#addType.minwidth250.form-controls(name="addType")
                                                        option(value="table" selected) Table
                                                        option(value="schema") Schema                                                    
                                                #changeAddType
                                    .modal-footer
                                        .col-md-12.p-0
                                            button.btn.btn-mainadd(type='submit', style='min-width:150px;', aria-haspopup='true', aria-expanded='false')
                                                | Add
                    .col-md-4
                        button#importCSV.btn-main-big(type="button", data-toggle='modal', data-target='#uploadCSVModal')
                            i.fa.fa-plus(aria-hidden='true')
                            |  
                            span(style="font-size: 1.2rem")  CSV
                    .col-md-4
                        button#goToViewDataModel.btn-main-big(href='/explore/sql_search') 
                            | 
                            span(style="font-size: 1.2rem") View Data Model
                .boxdisplay.form-group.clear
                    .midtitle
                        | Data Model

                    - var schemaIndex = 1;
                        each schemaVal, schemaProp in schemas              
                            ul.tree(id = "#{schemaProp}" class="forsearch_#{schemaProp}")
                                li
                                    input(type='checkbox', id = 'c#{schemaIndex}')
                                    label.tree_label(for='c#{schemaIndex}' style="font-size: 1.4rem;")
                                        i.fa.fa-caret-down.mr-2
                                        a(href='/schema/#{schemaProp}')= schemaProp
                                        - var cId = 'c' + schemaIndex
                                        - schemaIndex++;                                        

                                    if schemas[schemaProp] != undefined
                                        - var tableIndex = 1;
                                        each tableVal, tableProp in schemas[schemaProp]
                                            ul
                                                li(class="forsearch_#{schemaProp}_#{tableProp}")
                                                    input(id='#{cId}t#{tableIndex}', type='checkbox')
                                                    label.tree_label(for='#{cId}t#{tableIndex}' style="font-size: 1.25rem;")
                                                        i.fa.fa-caret-down.mr-1
                                                        |  #{tableProp}
                                                    ul
                                                        if schemas[schemaProp][tableProp] != undefined
                                                            if schemas[schemaProp][tableProp]["attributes"] != undefined
                                                                each attributesValue, attributesProp in schemas[schemaProp][tableProp]['attributes']
                                                                    li(class="forsearch_#{schemaProp}_#{tableProp}_#{attributesValue['attribute']}")
                                                                        input#int4(type='checkbox', checked='checked')
                                                                        label.tree_label
                                                                            | #{attributesValue['attribute']}
                                                - tableIndex ++
                    // Modal Import CSV
                    #uploadCSVModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
                        .modal-dialog.modal-dialog-centered(role='document')
                            form#addCSVForm(action="/schema/csv", method="post")
                                .modal-content
                                    .modal-header
                                        .modal-title.text-white CSV
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            i.fa.fa-times.text-red
                                    .modal-body.text-white
                                        .row
                                            // Count item widget
                                            .col-md-12
                                                .btn-group.clear.mt-2.mb-2(style='float:left;')
                                                    span.minwidth150.mr-2 Schema
                                                    select#selectSchemaName.minwidth250.form-controls(name="schemaName" required)
                                                        each schemaVal, schemaProp in schemas
                                                            option(value="#{schemaProp}") #{schemaProp}
                                                .btn-group.clear.mt-2.mb-2(style='float:left;')
                                                    span.minwidth150.mr-2 Table
                                                    select#selectTableName.minwidth250.form-controls(name="selectTableName" required)
                                                .btn-group.clear.mt-2.mb-2(style='float:left;')
                                                    span.minwidth150.mr-2 csv type
                                                    select#csvType.minwidth250.form-controls(name="csvType" required)
                                                        option(value="file" selected) csv upload
                                                        option(value="url") csv url
                                                        option(value="data") csv data
                                                #changeCSVType
                                    .modal-footer
                                        .col-md-12.p-0.text-center           
                                            button.btn.btn-mainadd#addCSVBtn(type='submit', style='min-width:150px;', aria-haspopup='true', aria-expanded='false')
                                                | Add
        script.
            $(document).ready(function () {
                let errMsg = '#{message}';
                if(errMsg){
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-full-width",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info(errMsg);

                }

            });
