extends ./layout

block link
  -var selected = 'Security';
block content
  script(src="scripts/security.js")
  section.dashboard-counts
    header
      .boxdisplay.largetitle
        | Security Hi #{user.username}
        a.btn.btn-main.dropdown-toggle.minwidthcombobox.pull-right(href='sqlsearchchart.html') SQL Search
    .container-fluid
      input#users(type="hidden" value="#{users}")
      input#user(type="hidden" value="#{user}")
      .largetitle.pull-left
        a.btn.btn-main.dropdown-toggle.minwidthcombobox(href='/security/add_role') Add Role
        a.btn.btn-main.dropdown-toggle.minwidthcombobox(href='/security/add_user') Add User
      .wrapper.count-title.d-flex.pull-right
        i.fa.fa-search(aria-hidden='true')
        .name.ml-3
          input#searchSecurity(type='text')
  .dashboard-counts.clear.pt-3
    .container-fluid
      .row
        .col-md-12
          table.table.table-striped#usersTable
            thead
              tr
                th(scope='col')
                th(scope='col') Username
                th(scope='col') Role
                th(scope='col') Active
                th(scope='col') Failed Login Attempts
            tbody
              each u in JSON.parse(users)
                if(u.username != user.username)
                  tr
                    td
                      i.fa.fa-user-circle.usericon
                    td 
                      =u.username
                    td
                      =u.role.role
                    td                
                      if(u.active)
                        input.js-switch(type="checkbox", checked, onchange='toggleActive("#{u.username}");')
                      else
                        input.js-switch(type="checkbox", onchange='toggleActive("#{u.username}");')
                      //- span.switchery.switchery-default(style='background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 16px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;')
                        small(style='left: 20px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;')
                    td -
  
          //- #usersTable_length.dataTables_length.pull-left
          //-   label
          //-     | Show
          //-     select.form-control.input-sm.selectinput(name='usersTable_length', aria-controls='usersTable')
          //-       option(value='10') 10
          //-       option(value='50') 50
          //-       option(value='100') 100
          //-       option(value='-1') All
          //-     |  entries
          #usersTable_paginate.dataTables_paginate.paging_simple_numbers.pull-right
            ul.pagination
              li#usersTable_previous.paginate_button.previous.disabled
                a(href='#', aria-controls='usersTable', data-dt-idx='0', tabindex='0') Previous
              li.paginate_button.active
                a(href='#', aria-controls='usersTable', data-dt-idx='1', tabindex='0') 1
              li#usersTable_next.paginate_button.next.disabled
                a(href='#', aria-controls='usersTable', data-dt-idx='2', tabindex='0') Next
//- #usersTable_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
//-     table#usersTable.table.table-striped.table-hover.dataTable.no-footer(role='grid', aria-describedby='usersTable_info')
//-         thead
//-             tr(role='row')
//-                 th.sorting(tabindex='0', aria-controls='usersTable', rowspan='1', colspan='1', aria-label=': activate to sort column ascending', style='width: 70px;')
//-                 th.sorting(tabindex='0', aria-controls='usersTable', rowspan='1', colspan='1', aria-sort='ascending', aria-label='username: activate to sort column descending', style='width: 102px;') username
//-                 th.sorting(tabindex='0', aria-controls='usersTable', rowspan='1', colspan='1', aria-label='active: activate to sort column ascending', style='width: 170px;') active
//-                 th.sorting_desc(tabindex='0', aria-controls='usersTable', rowspan='1', colspan='1', aria-label='role: activate to sort column ascending', style='width: 70px;') role
//-         tbody#users_body
