extends ./layout

block link
    -var selected = 'Explore';
block content
    script(src="../../textcomplete/package/dist/textcomplete.js")
    script(src="../../scripts/sql_search.js")
    input#keywordForAuto(name="keyword", type="hidden", value="#{keywords}")
    - var thisSchemas = JSON.stringify(schemas);
    input#schemaAll(type="hidden", name="schemaAll" value="#{thisSchemas}")
    input#sqlLink(type="hidden", name="sqlLink" value="#{sqlLink}")
    .breadcrumb-holder
        .container-fluid
            ul.breadcrumb
                li.breadcrumb-item
                    a(href='/explore') Explore Home
                li.breadcrumb-item.active SQL Search 
    // Counts Section
    .m-20
        // Counts Section
        section.dashboard-counts
            div
                .row
                    .col-3
                        .contentbackground.p-3(style='overflow:auto;')
                            .secondheader
                                .midtitle.text-white
                                    | Data Model
                            .wrapper.count-title.d-flex
                                i.fa.fa-search(aria-hidden='true')
                                .name.ml-3
                                    input#searchSchema(type='text')
                            .form-group
                                ul.tree(style='z-index:10000')
                                    - var schemaIndex = 1;
                                    each schemaVal, schemaProp in schemas
                                        - var cId = 'c' + schemaIndex; 
                                        li.lidragable(value='#{schemaProp}', id="#{schemaProp}")
                                            input(id="#{cId}", type='checkbox', checked='checked')
                                            label.tree_label(for='#{cId}')
                                                i.fa.fa-caret-down
                                                |  #{schemaProp}
                                            ul
                                                if schemas[schemaProp] != undefined
                                                    - var tableIndex = 1;
                                                    each tableVal, tableProp in schemas[schemaProp]
                                                        - var tId = cId + 't' + tableIndex;
                                                        li.lidragable(value='#{tableProp}')
                                                            input(id="#{tId}", type='checkbox', checked='checked')
                                                            label.tree_label(for='#{tId}')
                                                                i.fa.fa-caret-down
                                                                |  #{tableProp}
                                                            ul
                                                                if schemas[schemaProp][tableProp] != undefined
                                                                    if schemas[schemaProp][tableProp]["attributes"] != undefined
                                                                        each attributesValue, attributesProp in schemas[schemaProp][tableProp]['attributes']
                                                                            li.lidragable(value="#{attributesValue['attribute']}")
                                                                                span.tree_label= attributesValue['attribute']
                                                        - tableIndex ++;
                                        - schemaIndex ++

                    .col-6.p-0.searchbox(style='z-index:1;')
                        .contentbackground.p-3(style='overflow:auto;')
                            .secondheader
                                .midtitle.text-white
                                    | SQL Search
                                    a.btn.btn-main.pull-right(href='/explore/filter_search', aria-expanded='false', aria-haspopup='true') Filter Search
                            .form-group
                                textarea#exampleTextarea.w-100.p-1(placeholder='Type sql here', rows='3' value="#{sqlLink}")
                            div
                                button#runSQL.btn.btn-main.pull-right.min-100( type='button', role='button', aria-controls='collapseResult', aria-expanded='false') Run
                        #collapseResult.contentbackground.text-white.p-3.collapse
                            .secondheader
                                .midtitle
                                    | Results
                                    .pull-right
                                        i.fa.fa-sign-out
                                    .pull-right
                                        i.fa.fa-save(data-target='#saveModalCenter', data-toggle='modal', style='margin-right:10px;')
                                    .pull-right
                                        i.fa.fa-refresh(style='margin-right:10px;')
                            div
                                .row(style='overflow:auto')
                                    .col-md-12
                                        div
                                            table#resultTable.table.table-striped
                                       
                    #functionbox.col-3(style='overflow:auto;')
                        .contentbackground.pb-3(style='overflow:auto;')
                            ul.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(data-toggle='tab', href='#functions', role='tab') Functions
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#buzz', role='tab') Charts
                            // Tab panes
                            .tab-content.p-3.text-white.-md-6
                                #functions.tab-pane.row.active(role='tabpanel')
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='ABS')
                                            | ABS
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='CONCAT')
                                            | CONCAT
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='EXP')
                                            | EXP
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='IF')
                                            | IF
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='IFNULL')
                                            | IFNULL
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='INSTR')
                                            | INSTR
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='LEN')
                                            | LEN
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='LOWER')
                                            | LOWER
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='LTRIM')
                                            | LTRIM
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='RTRIM')
                                            | RTRIM
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='MAX')
                                            | MAX
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='MIN')
                                            | MIN
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='SUBSTRING')
                                            | SUBSTRING
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='REGEXP_LIKE')
                                            | REGEXP_LIKE
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='ISNULL')
                                            | ISNULL
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='RANDOM')
                                            | RANDOM
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='ROUND')
                                            | ROUND
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='CEIL')
                                            | CEIL
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='FLOOR')
                                            | FLOOR
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='ROWNUM')
                                            | ROWNUM
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='SQRT')
                                            | SQRT
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='TRIM')
                                            | TRIM
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='UPPER')
                                            | UPPER
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='CONCAT_WS')
                                            | CONCAT_WS
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='MEDIAN')
                                            | MEDIAN
                                    .col-md-6.btnfunction
                                        .dragablebtn.btn.btn-main.w-100.btn-b-10(value='QUART')
                                            | QUART
                                #buzz.tab-pane.fade(role='tabpanel')
                                    div Format your chart
                                    .btn-group
                                        button.btn.dropdown-toggle.minwidthcombobox(data-toggle='dropdown', type='button', aria-expanded='false', aria-haspopup='true') Area
                                        .dropdown-menu
                                            a.dropdown-item(href='#') Line
                                            a.dropdown-item(href='#') Bar
                                            a.dropdown-item(href='#') Number Overlay
                                            a.dropdown-item(href='#') Pie
                                            a.dropdown-item(href='#') Cohot Grd
                                            a.dropdown-item(href='#') Map
                                            a.dropdown-item(href='#') Sparkline
                                            a.dropdown-item(href='#') Scatter
                                            a.dropdown-item(href='#') Bubble
                                            a.dropdown-item(href='#') Image
                                    .pt-3 Chart Title
                                    input(type='text')
                                    .pt-3 Axis
                                    .pl-4
                                        .pt-3 X Axis Label
                                        input(type='text')
                                        .pt-3 Y Axis Label
                                        input(type='text')
                                    .pt-3 Footer
                                    input(type='text')
            // Modal
            #saveModalCenter.modal.fade(role='dialog', aria-hidden='true', aria-labelledby='exampleModalCenterTitle', tabindex='-1')
                .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                        form#favoriteForm
                            .modal-header
                                #exampleModalLongTitle.modal-title.text-white Save Search
                                button.close(data-dismiss='modal', type='button', aria-label='Close')
                                    i.fa.fa-times.text-red
                            .modal-body
                                .row.filterrow.p-3
                                    // Count item widget
                                    .row.w-100
                                        .col-md-4.wtitle
                                            .boxdisplay-6.text-right Name
                                        .col-md-8
                                            input#favoriteName.form-control.minwidthtextbox(type='text', style='float:left; max-width:250px; margin-right:5px;' required)
                                    .row.w-100
                                        .col-md-4.wtitle
                                            .boxdisplay-6.text-right Live Resualts URL
                                        .col-md-8
                                            input.form-control.minwidthtextbox#liveLinkSQL(type='text', style='float:left;  max-width:250px; margin-right:5px;' readonly)
                                            button.btn.btn-main.pull-left(type='button', aria-expanded='false', aria-haspopup='true' onclick="copySqlLink()") Copy
                                    .row.w-100
                                        .col-md-4.wtitle
                                            .boxdisplay-6.text-right Notes
                                        .col-md-8
                                            input#favoriteNote.form-control.minwidthtextbox.w-100(type='text', style='float:left; margin-right:5px;')
                            .modal-footer
                                .col-md-12.text-center
                                    button.btn.btn-mainadd(type='submit', aria-expanded='false', aria-haspopup='true', style='min-width:150px; ')
                                        | Save
            script.
                $('.lidragable').draggable({
                helper: function (event) {
                return $(event.target).clone().css({
                width: $(event.target).width(),
                });
                },
                appendTo: '.searchbox',
                zIndex: 2,
                start: function (event, ui) {
                ui.helper.css('color', '#888');
                }
                });
                $('.dragablebtn').draggable({
                helper: function (event) {
                return $(event.target).clone().css({
                width: '200px'
                });
                },
                start: function (event, ui) {
                ui.helper.css('max-width', '200px');
                },
                opacity: 0.7,
                appendTo: '.searchbox',
                zIndex: 2
                });
                $("#exampleTextarea").droppable({
                drop: function (event, button) {
                    console.log(this);
                    var dragValue = $(button.draggable).attr('value');

                    this.value = this.value + dragValue;
                }
                });
